<template>
    <v-navigation-drawer permanent dark
                         :mini-variant.sync="mini"
                         hide-overlay
                         stateless
                         class="indigo darken-4 left">
        <v-toolbar flat>
            <v-list>
                <v-list-tile>
                    <v-list-tile-avatar>
                        <img src="https://randomuser.me/api/portraits/men/85.jpg">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>NunNuNanNa</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn
                                icon
                                @click.stop="mini = !mini"
                        >
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-toolbar>

        <v-divider></v-divider>

        <v-list dense class="pt-0">
            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>audiotrack</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title><router-link to="/team">Team</router-link></v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>person</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title><router-link to="/member">Members</router-link></v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>description</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title><router-link to="/report">Reports</router-link></v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>assessment</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title><router-link to="/rank">Rank</router-link></v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "NavigationBar",
        data() {
            return {
                mini: true,
            }
        }
    }
</script>

<style scoped>
a {
    text-decoration: none;
    color:#fff;
    font-size: 15px;
}
</style>