<template>
    <div>
        <v-layout justify-center>
            <v-flex xs12>
                <v-card>
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <template v-for="item in members">
                            <v-flex xs6 sm2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="36px" class="px-4">
                                                <img class="avatar_style01"
                                                     :src="images[item.image]"
                                                     contain
                                                     alt="Avatar">
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal--text">{{item.uniform_num}}</h2>
                                            <div>
                                                <h4 class="font-weight-medium">{{item.nickname}}</h4>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            </template>
                          <!--
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">7</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">이종은</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">4</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">고지원</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">23</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">김나경</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">83</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">김민정</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">15</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">김해린</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                            <v-flex xs2>
                                <v-card class="px-2">
                                    <v-layout row wrap align-center>
                                        <v-flex xs4>
                                            <v-avatar size="100%" class="px-3">
                                                <img :src="images.none"
                                                     alt="Avatar" />
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex xs8>
                                            <h2 class="display-1 font-weight-black teal&#45;&#45;text">22</h2>
                                            <div>
                                                <h43 class="headline font-weight-medium">류새아라</h43>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card>
                            </v-flex>-->
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "TeamView",
        data() {
            return {
                images: {
                    none: require('../assets/member/none.png'),
                    num_20: require('../assets/member/20_juhee.jpg'),
                },
                members: [
                    {name: '이종은', uniform_num: '7', foot: 'right', image:'none', nickname: 'LEEJJONG'},
                    {name: '홍지희', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '고지원', uniform_num: '4', foot: 'right', image:'none', nickname: 'KO'},
                    {name: '김나경', uniform_num: '23', foot: 'right', image:'none', nickname: 'NAKYOUNG'},
                    {name: '김민정', uniform_num: '83', foot: 'right', image:'none', nickname: 'MIN'},
                    {name: '김민지', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '김세희', uniform_num: '17', foot: 'right', image:'none', nickname: 'SERI'},
                    {name: '김수미', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '김지현', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '김해린', uniform_num: '15', foot: 'right', image:'none', nickname: 'HAE'},
                    {name: '류새아라', uniform_num: '22', foot: 'right', image:'none', nickname: 'DUNGVELY'},
                    {name: '박서진', uniform_num: '14', foot: 'right', image:'none', nickname: 'JIN'},
                    {name: '박소연', uniform_num: '6', foot: 'right', image:'none', nickname: 'SOYEON'},
                    {name: '박채민', uniform_num: '18', foot: 'right', image:'none', nickname: 'CHAEM'},
                    {name: '백주희', uniform_num: '20', foot: 'right', image:'num_20', nickname: '백주희'},
                    {name: '선하은', uniform_num: '12', foot: 'right', image:'none', nickname: '-'},
                    {name: '유병란', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '윤민아', uniform_num: '13', foot: 'right', image:'none', nickname: 'MINA'},
                    {name: '윤영임', uniform_num: '10', foot: 'right', image:'none', nickname: 'WOONG'},
                    {name: '윤지선', uniform_num: '24', foot: 'right', image:'none', nickname: 'SEONJI'},
                    {name: '이선경', uniform_num: '11', foot: 'right', image:'none', nickname: 'CHUN'},
                    {name: '이유민', uniform_num: '53', foot: 'right', image:'none', nickname: 'A LIONESS'},
                    {name: '이정명', uniform_num: '33', foot: 'right', image:'none', nickname: 'MAENG'},
                    {name: '이현경', uniform_num: '75', foot: 'right', image:'none', nickname: 'LEE'},
                    {name: '이현아', uniform_num: '99', foot: 'right', image:'none', nickname: 'HYUN'},
                    {name: '이화인', uniform_num: '8', foot: 'right', image:'none', nickname: 'FINE'},
                    {name: '임지영', uniform_num: '9', foot: 'right', image:'none', nickname: 'JIYOUNG'},
                    {name: '장한솔', uniform_num: '94', foot: 'right', image:'none', nickname: 'HANSOL'},
                    {name: '조명선', uniform_num: '19', foot: 'right', image:'none', nickname: 'JOE'},
                    {name: '최선희', uniform_num: '37', foot: 'right', image:'none', nickname: 'SUNNY'},
                    {name: '최예린', uniform_num: '3', foot: 'right', image:'none', nickname: 'YERIN'},
                    {name: '최주희', uniform_num: '16', foot: 'right', image:'none', nickname: 'JHCHOI'},
                    {name: '하세영', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    {name: '함박눈', uniform_num: '18', foot: 'right', image:'none', nickname: '-'},
                    {name: '현동경', uniform_num: '-', foot: 'right', image:'none', nickname: '-'},
                    ]
            }
        }
    }
</script>

<style scoped>
.avatar_style01 {
    object-fit: contain;
}
</style>