<template>
    <div>
        <v-layout justify-center>
            <v-flex xs12>
            <v-card>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-card color="#26dab9">
                                <v-card-title primary-title class="headline font-weight-medium  white--text">FS 눈누난나</v-card-title>
                                <v-img :aspect-ratio="16/8" contain :src="images.background">
                                </v-img>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs6>
                            <v-card>
                                <v-img :src="images.emblem" :aspect-ratio="16/9" contain></v-img>
                                <v-divider light></v-divider>
                                <v-card-title>
                                    <v-spacer></v-spacer>
                                    <div>
                                        <h3 class="headline teal--text">엠블럼</h3>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                        <v-flex xs6>
                            <v-card>
                                <v-img :src="images.uniform" :aspect-ratio="16/9" contain></v-img>
                                <v-divider light></v-divider>
                                <v-card-title>
                                    <v-spacer></v-spacer>
                                    <div>
                                        <h3 class="headline teal--text">유니폼</h3>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "TeamView",
        data() {
            return {
                images: {
                    emblem: require('../assets/emblem_04.png'),
                    uniform: require('../assets/uniform.jpg'),
                    background: require('../assets/nn_background.png')
                },
                mini: true,
            }
        }
    }
</script>

<style scoped>

</style>