<template>
  <div id="app">
   <navigation-bar></navigation-bar>
    <transition name="page">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import NavigationBar from './components/NavigationBar.vue';

export default {
  name: 'App',
  components: {
      NavigationBar
  },
  data () {
    return {
      //
    }
  }
}
</script>
